<div class="navbar-wrap">
    <div class="navbar">
      <div class="navbar-buttons-container">
        <button class="logo-button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="34.38"
            height="29.07"
            fill="currentColor"
            class="bi bi-twitter"
            viewBox="0 0 16 16"
          >
            <path
              d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
            />
          </svg>
        </button>
        <button class="buttons">
          <span class="buttons-icon">
            <img class="icon-size" src="/static/images/icons/home.png" alt="" />
          </span>
          <span class="buttons-text">Home</span>
        </button>
        <button class="buttons">
          <span class="buttons-icon">
            <img
              class="icon-size"
              src="/static/images/icons/notifications.png"
              alt=""
            />
          </span>
          <span class="buttons-text">Notifications</span>
        </button>
        <button class="buttons">
          <span class="buttons-icon">
            <img class="icon-size" src="/static/images/icons/message.png" alt="" />
          </span>
          <span class="buttons-text">Messages</span>
        </button>
        <button class="buttons">
          <span class="buttons-icon">
            <img class="icon-size" src="/static/images/icons/bookmark.png" alt="" />
          </span>
          <span class="buttons-text">Bookmarks</span>
        </button>
        <button class="buttons">
          <span class="buttons-icon">
            <img class="icon-size" src="/static/images/icons/hashtag.png" alt="" />
          </span>
          <span class="buttons-text">Explore</span>
        </button>
        <button class="buttons">
          <span class="buttons-icon">
            <img class="icon-size" src="/static/images/icons/profile.png" alt="" />
          </span>
          <span class="buttons-text">Profile</span>
        </button>
        <button class="buttons">
          <span class="buttons-icon">
            <img class="icon-size" src="/static/images/icons/more.png" alt="" />
          </span>
          <span class="buttons-text">More</span>
        </button>

        <!-- User Panel -->
        <button class="profile-button">
          <div class="avatar">
            <img
              class="user-avatar"
              src="/style/avatars/photo_2022-05-25_03-25-30.jpg"
              alt=""
            />
          </div>
          <div class="user-info">
            <p class="name">Denis Omelchuk</p>
            <p class="nickname">@denom</p>
          </div>
          <div class="user-button-icon">
            <i class="gg-more-alt"></i>
          </div>
        </button>
      </div>
    </div>
  </div>