.navbar-wrap{
    height: 100vh;
    width: 400px;
    position: relative;
    border-right: 1px solid rgb(47, 51, 54);
}

.navbar{
    height: 100vh;
    position: absolute;
    width: 251px;
    right: 0px;
    padding: 0px 12px;
}

.logo-button{
    background-color: transparent;
    border: none;
    width: 52px;
    height: 52px;
    margin-top: 2px;
}

.navbar-buttons{
    display: block;
    height: 50px;
    background-color: black;
    border: none;
    outline: none;
    overflow: hidden;
    font-size: 20px;
    font-family: Roboto, Arial;
    color: rgb(214, 217, 219);
    font-weight: 400;
    border-radius: 40px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.17s;
}

.navbar-buttons:hover {
    background-color: rgb(25, 25, 25);
}

.navbar-buttons-text {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-buttons-icon{
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding-left: 4px;
}

.buttons {
    display: block;
    height: 50px;
    background-color: black;
    border: none;
    outline: none;
    overflow: hidden;
    font-size: 20px;
    font-family: Roboto, Arial;
    color: rgb(214, 217, 219);
    font-weight: 400;
    border-radius: 40px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.17s;
}

.buttons-icon {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding-left: 4px;
  }
.icon-size {
    height: 25px;
}
.buttons-text {
    position: relative;
    padding-left: 20px;
    bottom: 4px;
    padding-right: 20px;
}
.buttons:hover {
    background-color: rgb(25, 25, 25);
}

/* User Panel */
.profile-button{
    bottom: 15px;
    width: 250px;
    height: 64px;
    border: none;
    padding-left: 3px;
    display: grid;
    grid-template-columns: 40px 180px 20px;
    background-color: black;
    cursor: pointer;
    transition: 0.17s;
    border-radius: 100px;
  }
  .profile-button:hover{
    background-color: rgb(25, 25, 25);
  }
  .avatar{
    height: 40px;
    position: relative;
    top: 11px;
    margin-left: 5px;
  }
  .user-avatar{
    height: 40px;
    width: 40px;
    border-radius: 20px;
  }
  .user-info{
    position: relative;
    top: 11px;
    height: 40px;
  }
  .user-button-icon{
    position: relative;
    top: 11px;
    height: 40px;
  }
  .profile-button-container{
    position: absolute;
    bottom: 0px;
  }
  .name,
  .nickname{
    margin: 0px;
    padding-left: 11px;
    text-align: left;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    color: rgb(214, 217, 219);
  }
  .nickname{
    font-weight: 500;
    color: rgb(98, 98, 98);
  }
  .gg-more-alt{
    color: rgb(214, 217, 219);
    position: relative;
    top: 18px;
  }

  .user-panel{
    position: fixed;
    bottom: 12px;
  }