{% extends 'main.html' %} {% block content %}

<div class="middle-side">
  <p class="page-name">Home</p>
  <textarea class="textarea" id="autoresizing">
      What's happening?
  </textarea>
  <div class="input-field-menu">
    <div class="input-options"></div>
    <div class="mid-tweet-button-container">
      <button class="mid-tweet-button">Tweet</button>
    </div>
  </div>
  {% for post in posts %}
  <div class="post-container">
    <div class="tweet-input-avatar">
      <button class="tweet-input-avatar-button">
        <img
          class="tweet-input-avatar-button-icon"
          src="{{post.host.avatar.url}}"
          alt=""
        />
      </button>
    </div>
    <div class="post-info-container">
      <div class="a">
        <span class="post-info-name">{{post.host.name}}</span>
        <span class="post-info-username-and-date">@{{post.host.username}}</span>
        <span class="post-info-username-and-date">&#183;</span>
        <span class="post-info-username-and-date">{{post.created}}</span>
      </div>
      <div class="b">
        <span class="post-info-text">{{post.body}}</span>
      </div>
      <div class="c">
        <div class="post-buttons-container">fff</div>
        <div class="post-buttons-container">fff</div>
        <div class="post-buttons-container">fff</div>
        <div class="post-buttons-container">fff</div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="right-side"></div>

<script type="text/javascript">
  textarea = document.querySelector("#autoresizing");
  textarea.addEventListener("input", autoResize, false);

  function autoResize() {
    this.style.height = "auto";
    this.style.height = this.scrollHeight + "px";
  }
</script>

{% endblock content %}
